/** colors */
/** Device sizes */
/** mixins */
body {
  font-family: "LatoLatinWeb", sans-serif; }
  body .bg-dark {
    background-color: #262626;
    color: white; }
  body .bg-light {
    background-color: #f5eed5;
    color: #262626; }
  body .bg-blue {
    background-color: #527a98;
    color: white; }

.ui-loader {
  display: none; }

.blackfill {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1; }

/**
 * --- typography
 */
.right {
  text-align: right; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  line-height: 1.5em; }

label {
  margin-bottom: 0px; }

/**
 * --- Common Elements
 */
.container {
  position: relative;
  padding: 3em 9em; }

.row {
  /*text-align: justify;*/ }

.featurette .col-md-2, .featurette .col-md-3 {
  text-align: center; }

.watermark {
  transform: rotate(90deg);
  font-size: 8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
  width: 7em;
  padding-bottom: 6em;
  top: 0.5em;
  right: 0;
  opacity: 0.2;
  overflow: hidden;
  display: inline-block;
  position: absolute; }

.enumeration {
  line-height: 2em; }

@media (max-width: 1199px) {
  .container {
    padding: 3em 7em; }

  .watermark {
    font-size: 5em;
    padding-bottom: 5.5em; } }
@media (max-width: 767px) {
  .container {
    min-height: 20em;
    padding: 3em 5em; }

  .watermark {
    font-size: 3.5em; }

  .enumeration {
    line-height: 1.7em; } }
.bubble-content {
  padding: 10px;
  overflow: hidden; }

/**
 * --- Navbar
 */
.navbar {
  border: 0; }
  .navbar hr {
    color: #f5eed5;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out; }

.navbar-nav a {
  text-transform: uppercase; }

.navbar-scrolled hr {
  opacity: 1; }
.navbar-scrolled .navbar-brand {
  opacity: 1; }

.navbar-brand {
  padding: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out; }
  .navbar-brand img {
    height: 100%; }

.navbar-default {
  padding: 0; }
  .navbar-default .navbar-nav > li > a a, .navbar-default .navbar-nav > li > a a:hover, .navbar-default .navbar-nav > li > a a:visited, .navbar-default .navbar-nav > li > a a:active {
    color: white; }

/**
 * --- Intro
 */
.statement {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center; }

.substatement {
  font-size: 0.8em;
  font-weight: normal; }

.mainlogo {
  text-align: center; }
  .mainlogo img {
    max-height: 50vh;
    max-width: 70%;
    margin-bottom: 2em;
    margin-top: 2em; }

@media (max-width: 991px) {
  .statement {
    font-size: 4.7vw; }

  .substatement {
    font-size: 4vw; } }
/**
 * --- We Believe in
 */
.carousel-control.right, .carousel-control.left {
  background: transparent;
  width: 2em; }

.chat {
  min-height: 20em; }
  .chat .col-md-2, .chat .col-sm-2, .chat .col-xs-2 {
    text-align: center; }

@media (max-width: 1199px) {
  .chat {
    min-height: 22em; } }
@media (max-width: 450px) {
  .chat {
    min-height: 25em; } }
@media (max-width: 350px) {
  .chat {
    min-height: 32em; } }
.chat-avatar {
  width: 4em;
  height: 4em;
  max-height: 6em;
  max-width: 6em; }

.chat-avatar-left {
  position: absolute;
  right: 10px; }

.chat-avatar-right {
  position: absolute;
  left: 10px; }

@media (min-width: 768px) {
  .chat-avatar {
    margin-top: -15px; } }
@media (min-width: 992px) {
  .chat-avatar {
    margin-top: -20px; } }
.chat-bubble-left {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color: #262626; }

.chat-bubble-left::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent #262626;
  display: block;
  width: 0;
  z-index: 1;
  top: 8px;
  border-width: 12px 18px 12px 0;
  left: -18px; }

.chat-bubble-right {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #262626;
  background-color: white;
  float: right; }

.chat-bubble-right::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: 1;
  top: 8px;
  border-width: 12px 0 12px 18px;
  right: -18px; }

/**
 * --- We Offer
 */
.weoffer-list li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin: .5em; }
.weoffer-list li a:hover {
  font-size: 1.1em;
  -webkit-transition: font 0.3s ease;
  -moz-transition: font 0.3s ease;
  -o-transition: font 0.3s ease;
  -ms-transition: font 0.3s ease; }

/**
* --- You get
*/
.youget-overview {
  margin-top: 50px; }
  .youget-overview div {
    text-align: center; }
  .youget-overview p {
    text-align: left; }

.youget-img {
  width: 180px;
  height: 180px; }

.youget-csvlist {
  text-align: left !important;
  list-style: none;
  padding-left: 0; }
  .youget-csvlist li {
    list-style-type: none; }
  .youget-csvlist a {
    margin: .5em;
    color: white;
    white-space: nowrap; }
  .youget-csvlist a:hover {
    font-size: 1.1em;
    -webkit-transition: font 0.3s ease;
    -moz-transition: font 0.3s ease;
    -o-transition: font 0.3s ease;
    -ms-transition: font 0.3s ease;
    text-decoration: none; }

div.youget-card:hover {
  box-shadow: 0 0 1em #888; }

.card-knowhow {
  box-shadow: 0 0 .1em #888;
  margin: 2em .5em; }
  .card-knowhow .heading, .card-knowhow .footer {
    padding: .5em;
    background-color: #527a98; }
    .card-knowhow .heading .price, .card-knowhow .footer .price {
      font-size: 1.5em; }
    .card-knowhow .heading .mwst, .card-knowhow .footer .mwst {
      font-size: .8em;
      font-weight: normal; }
  .card-knowhow .content {
    padding: .5em;
    min-height: 10em;
    background-color: #f5eed5;
    color: #262626;
    text-align: left;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .card-knowhow .content ul {
      list-style: none;
      padding-left: 0; }
  .card-knowhow img {
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 0 5px #262626; }

.card-auftrag {
  box-shadow: 0 0 .1em #888;
  margin: 2em .5em; }
  .card-auftrag .heading, .card-auftrag .footer {
    padding: .5em;
    background-color: #E8AF30; }
    .card-auftrag .heading .price, .card-auftrag .footer .price {
      font-size: 1.5em; }
    .card-auftrag .heading .mwst, .card-auftrag .footer .mwst {
      font-size: .8em;
      font-weight: normal; }
  .card-auftrag .content {
    padding: .5em;
    min-height: 10em;
    background-color: #f5eed5;
    color: #262626;
    text-align: left;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .card-auftrag .content ul {
      list-style: none;
      padding-left: 0; }
  .card-auftrag img {
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 0 5px #262626; }

.card-mandat {
  box-shadow: 0 0 .1em #888;
  margin: 2em .5em; }
  .card-mandat .heading, .card-mandat .footer {
    padding: .5em;
    background-color: #262626; }
    .card-mandat .heading .price, .card-mandat .footer .price {
      font-size: 1.5em; }
    .card-mandat .heading .mwst, .card-mandat .footer .mwst {
      font-size: .8em;
      font-weight: normal; }
  .card-mandat .content {
    padding: .5em;
    min-height: 10em;
    background-color: #f5eed5;
    color: #262626;
    text-align: left;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .card-mandat .content ul {
      list-style: none;
      padding-left: 0; }
  .card-mandat img {
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 0 5px #262626; }

/**
 * --- we are
 */
.weare-socialmedia {
  display: flex;
  justify-content: space-between;
  margin: 1em; }
  .weare-socialmedia a {
    text-decoration: none; }
  .weare-socialmedia a:hover {
    color: #527a98; }

.dark a {
  color: #262626; }

.light a {
  color: white; }

.weare-video {
  margin: 2em 0; }

.cv-bubble-left {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #262626;
  background-color: white; }

.cv-bubble-left::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: 1;
  top: 2.5em;
  border-width: 12px 18px 12px 0;
  left: -18px; }

.cv-bubble-right {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color: #262626; }

.cv-bubble-right::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent #262626;
  display: block;
  width: 0;
  z-index: 1;
  top: 2.5em;
  border-width: 12px 0 12px 18px;
  right: -18px; }

.cv-avatar {
  max-height: 12em;
  max-width: 12em;
  width: 100%; }

.clear {
  clear: both; }

.cv-bubble-container {
  position: relative; }

@media (max-width: 767px) {
  .cv-bubble-right::after, .cv-bubble-left::after {
    display: none; }

  .cv-avatar-container {
    height: 180px;
    position: absolute;
    top: 1.5em;
    left: 0em;
    text-align: center;
    z-index: 2; }

  .cv-avatar {
    max-width: 180px;
    max-height: 180px;
    width: 180px;
    height: 180px;
    padding-left: 0px;
    padding-right: 0px; }

  .cv-bubble-container .bubble-content {
    padding-top: 200px; } }
.detailImage {
  float: right; }

.detailImage img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em; }

.bg-blue a {
  color: #262626; }

/**
* --- we do
*/
.wedo-projects {
  text-align: center; }

.wedo-project {
  padding: 0;
  width: 230px;
  height: 180px;
  display: inline-block;
  position: relative;
  border: 5px solid #527a98;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden; }
  .wedo-project h3 {
    background-color: #515151;
    color: white;
    padding: 0.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    z-index: 1; }
  .wedo-project img {
    width: 100%;
    z-index: -2; }
  .wedo-project img.spacing {
    width: 90%;
    margin: 1em; }
  .wedo-project p {
    display: none;
    color: white;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #262626;
    opacity: 0.9;
    padding: 1em;
    text-align: left;
    text-overflow: ellipsis; }

.wedo-project.event {
  border-color: #262626; }

.wedo-project:hover p {
  display: block; }

.wedo-project .atWorkplace {
  height: 0.9em;
  width: auto;
  display: inline-block; }

.wedo-project h3 {
  font-size: 1.1em; }

.wedo-project .projectImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 15em;
  overflow: hidden; }

@media (max-width: 767px) {
  .wedo-project {
    height: 12em;
    width: 15.7em; } }
/**
 * --- CUSTOMERS
 */
.customer {
  padding: 1em;
  width: 230px;
  height: 150px;
  display: inline-block;
  border: 5px solid #f5eed5;
  background-color: white;
  border-radius: 10px;
  overflow: hidden; }
  .customer img {
    display: block;
    margin: auto;
    width: 100%; }

/**
 * --- FOOTER
 */
.footer-socialmedia {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  color: white; }
  .footer-socialmedia a {
    text-decoration: none; }
  .footer-socialmedia a:hover {
    color: #527a98; }

.disclaimer {
  text-align: center;
  font-size: 0.8em; }

@media (min-width: 992px) {
  .phone {
    text-align: right; } }
/** portfolio */
.portfolio {
  position: relative;
  width: 100%;
  min-height: 1024px; }
  .portfolio .arrow {
    display: block;
    position: absolute;
    top: 38%;
    left: 50%; }
  .portfolio #arrow0 {
    transform: translate(25%, -50%) scale(0.8); }
  .portfolio #arrow1 {
    transform: translate(-35%, 120%) scale(0.9); }
  .portfolio #arrow2 {
    transform: translate(-115%, -50%) scale(0.8); }
  .portfolio .weoffer-img-font {
    width: 18em;
    height: 18em;
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    margin: -9em; }
  .portfolio .icon {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: .7;
    width: 14em;
    height: 14em;
    margin: -7em;
    transition: all .5s; }
    .portfolio .icon .weoffer-img {
      width: 14em;
      height: 14em;
      border: 1px solid #1B344D;
      box-shadow: 0px 0px 20px #1B344D;
      transition: all .5s; }
    .portfolio .icon .weoffer-img-font {
      width: 130%;
      top: 50%; }
    .portfolio .icon.active {
      opacity: 1; }
      .portfolio .icon.active .weoffer-img {
        border: 1px solid #f5eed5;
        box-shadow: 0 0 15px 2px #f5eed5; }
  .portfolio #icon0 {
    transform: translate(0, -300px); }
  .portfolio #icon1 {
    transform: rotate(45deg) translate(550px) rotate(-45deg); }
  .portfolio #icon2 {
    transform: rotate(-45deg) translate(-550px) rotate(45deg); }
  .portfolio .description {
    display: none;
    position: absolute;
    padding: 1em;
    z-index: 1;
    top: 25%;
    left: 15%;
    min-height: 40%;
    width: 70%;
    background-color: rgba(27, 52, 77, 0.7); }
    .portfolio .description.active {
      display: block; }

@media (max-width: 1199px) {
  .portfolio {
    min-height: 800px; }
    .portfolio .arrow {
      top: 34%; }
    .portfolio .icon {
      top: 35%;
      width: 10em;
      height: 10em;
      margin: -5em; }
      .portfolio .icon .weoffer-img {
        width: 10em;
        height: 10em; }
      .portfolio .icon .weoffer-img-font {
        width: 130%;
        top: 50%;
        left: 75%; }
    .portfolio #arrow0 {
      transform: translate(15%, -48%) scale(0.7); }
    .portfolio #arrow1 {
      transform: translate(-35%, 90%) scale(0.8); }
    .portfolio #arrow2 {
      transform: translate(-105%, -48%) scale(0.7); }
    .portfolio #icon0 {
      transform: translate(0, -200px); }
    .portfolio #icon1 {
      transform: rotate(45deg) translate(450px) rotate(-45deg); }
    .portfolio #icon2 {
      transform: rotate(-45deg) translate(-450px) rotate(45deg); }
    .portfolio .description {
      top: 22%;
      min-height: 40%; } }
@media (max-width: 991px) {
  .portfolio {
    min-height: 600px; }
    .portfolio .arrow {
      top: 32%; }
    .portfolio .icon {
      top: 35%;
      width: 8em;
      height: 8em;
      margin: -4em; }
      .portfolio .icon .weoffer-img {
        width: 8em;
        height: 8em; }
      .portfolio .icon .weoffer-img-font {
        width: 130%;
        top: 50%;
        left: 98%; }
    .portfolio #arrow0 {
      transform: translate(-5%, -42%) scale(0.5, 0.65); }
    .portfolio #arrow1 {
      transform: translate(-40%, 75%) scale(0.6); }
    .portfolio #arrow2 {
      transform: translate(-90%, -42%) scale(0.5, 0.65); }
    .portfolio #icon0 {
      transform: translate(0, -150px); }
    .portfolio #icon1 {
      transform: rotate(45deg) translate(330px) rotate(-45deg) translate(0, 70px); }
    .portfolio #icon2 {
      transform: rotate(-45deg) translate(-330px) rotate(45deg) translate(0, 70px); }
    .portfolio .description {
      top: 22%;
      min-height: 50%;
      padding: .5em; }
      .portfolio .description h2 {
        font-size: 1.5em; }
      .portfolio .description p {
        font-size: 0.9em; } }
@media (max-width: 767px) {
  .portfolio {
    min-height: 600px; }
    .portfolio .arrow {
      top: 40%; }
    .portfolio .icon {
      top: 35%;
      width: 7em;
      height: 7em;
      margin: -3.5em; }
      .portfolio .icon .weoffer-img {
        width: 7em;
        height: 7em; }
      .portfolio .icon .weoffer-img-font {
        width: 130%;
        top: 50%;
        left: 113%; }
    .portfolio #arrow0 {
      transform: translate(-10%, -48%) scale(0.4, 0.65); }
    .portfolio #arrow1 {
      transform: translate(-40%, 60%) scale(0.5); }
    .portfolio #arrow2 {
      transform: translate(-85%, -48%) scale(0.4, 0.65); }
    .portfolio #icon0 {
      transform: translate(0, -120px); }
    .portfolio #icon1 {
      transform: rotate(45deg) translate(290px) rotate(-45deg) translate(0, 100px); }
    .portfolio #icon2 {
      transform: rotate(-45deg) translate(-290px) rotate(45deg) translate(0, 100px); }
    .portfolio .description {
      width: 70%;
      top: 25%;
      left: 15%;
      min-height: 50%;
      padding: .5em; }
      .portfolio .description h2 {
        font-size: 1.3em; }
      .portfolio .description p {
        font-size: 0.8em; } }
@media (max-width: 450px) {
  .portfolio .description {
    width: 100%;
    top: 25%;
    left: 0; } }
/*
@media (max-width: $screen-xs-med) {
	.portfolio {

		min-height: 500px;

		.icon {

			top: 40%;

			width: 5em;
			height: 5em;
			margin: -2.5em;
			.weoffer-img {
				width: 5em;
				height: 5em;
			}	
		}

		#arrow0 {
			transform:  translate(-20%, -55%) scale(0.25, .5) ;
		}

		#arrow1 {
			transform: translate(-42%, 20%) scale(0.4);
		}

		#arrow2 {
			transform: translate(-75%, -55%) scale(0.25, .5);
		}


		#icon0 {
			transform: translate(0, -180px);
		}

		#icon1 {
			transform: rotate(45deg) translate(190px) rotate(-45deg) translate(15px, 40px);
		}

		#icon2 {
			transform: rotate(-45deg) translate(-190px) rotate(45deg) translate(-15px, 40px);
		}

		.description {

			width: 100%;

			top: 15%;
			left: 0%;

			min-height: 48%;
			padding: .5em;


			h2 {
				font-size: 1.2em;
			}
			p {
				font-size: 0.7em;
			}

		}
	}

}*/

/*# sourceMappingURL=breakthebox.css.map */
