/*$font-stack: "LatoLatinWeb", sans-serif;*/
@import 'variables';
@import 'mixins';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  color: $fg-light;
  a {
    color: $bg-medium;
  }
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  /* Set the fixed height of the footer here */
  height: 150px;
  /*line-height: 60px;  Vertically center the text there */
  background-color: $bg-dark;



  img {
    width: 100%;
  }

  .disclaimer {
    text-align: center;
    font-size: 0.7rem;
  }
}
